```
Name: Akanksha N Shenoy
Roll No: 1905373
                                            Lab Assignment 11
```

Q1) Create Lists ,Tuples, Dictionaries and Sets .Print elements stored in
each case.

In [1]:
l = [1,2,'Hello','World',True]
t = ('abcd','efgh',3,4)
d = {
    'name' : 'Akanksha',
    'branch' : 'CSE'
}

s = {8,10,2,5}
print('list : ',l)
print('tuple : ',t)
print('dictionary : ',d)
print('set : ',s)

list :  [1, 2, 'Hello', 'World', True]
tuple :  ('abcd', 'efgh', 3, 4)
dictionary :  {'name': 'Akanksha', 'branch': 'CSE'}
set :  {8, 10, 2, 5}

Q2)I) Select the Element kept at 2 nd position. From a List and display it.
II)create numpy array by already existing list and display its datatype and
dimension.

In [2]:
# (i)
print(l[1])

2

In [3]:
import numpy as np

In [4]:
# (ii)
n = np.array(l)
print(type(n))
print(n.ndim)

<class 'numpy.ndarray'>
1

Q3)Use range function to generate values with name RangeVar. Keep
lower bound as 1, higher bound 50. and each value should have
difference of 10.

In [5]:
RangeVar = range(1,50,10)
R = list()
for i in RangeVar:
    print(i)
    R.append(i)
print(R)

1
11
21
31
41
[1, 11, 21, 31, 41]

Q4)Create a string ‘Techniquelab’. Find out the character at 5 th position.
Find out the index of ‘l’ in the string.

In [6]:
st = 'Techniquelab'
# at 5th position means at index 4
print(st[4])
print(st.index('l'))

n
9

Q5)In 3rd question, the values populted in RangeVar.Find out if 11 exists
and also find out the value at 3 rd index.

In [7]:
print(11 in R)
print(R[3])

True
31

Q6)Create a list with values 100, ‘Alice’, 12 and ‘Programmer’.Display the
whole list.Then add value ‘Python’ to the list and display the modified
list.

In [8]:
li = [100,'Alice',12,'Programmer']
print(li)

[100, 'Alice', 12, 'Programmer']

In [9]:
li.append('python')
print(li)

[100, 'Alice', 12, 'Programmer', 'python']

Q7)Create a tuple with values:100, ‘Alice’, 12 and ‘Programmer’.Display
the tuple.Then add values ‘Python’ and ‘ML’ to it and display the
modified tuple.

In [10]:
tu = (100,'Alice',12,'Programmer')
print(tu)

(100, 'Alice', 12, 'Programmer')

In [11]:
tu += ('Python','ML')
print(tu)

(100, 'Alice', 12, 'Programmer', 'Python', 'ML')

Q8)In the tuple with values :100, ‘Alice’, 12 and ‘Programmer’,print the
values from index 0 to 2 ,getting displayed on console thrice.

In [12]:
tup = (100,'Alice',12,'Programmer')
for _ in range(3):
    print(tup[0:2])

(100, 'Alice')
(100, 'Alice')
(100, 'Alice')